<a href="https://colab.research.google.com/github/Nikhithachinnu/assignment-1/blob/master/assignment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 10

Question 1

 Program to get the largest and smallest number from a list.

In [1]:
 mylist = [7,35,15,38,55,90]
print("The given list is:",mylist)
print("Largest number in the list is",max(mylist))
print("Smallest number in the list:",min(mylist))

The given list is: [7, 35, 15, 38, 55, 90]
Largest number in the list is 90
Smallest number in the list: 7

Question 2

 Program to remove duplicate elements from a list.

In [2]:
 mylist =[1,3,3,3,6,7,6,9,9,2]
newlist = []
 
for item in mylist:
    if item not in newlist:
        newlist.append(item)
print("New list:",newlist)

New list: [1, 3, 6, 7, 9, 2]

Question 3

 Program to check if the list is empty or not.

In [3]:
 mylist = [1,2,3,4,5]
list1 = []
if mylist == []:
    print("True")
else:
    print("False")
    
if list1 != []:
    print("False")
else:
    print("True")

False
True

Question 4

 Program to clone or copy a list.

In [4]:
 mylist = [1,3,5,7,9]
print("Original list:",mylist)
newlist = mylist.copy()
print("Copied list:",newlist)

Original list: [1, 3, 5, 7, 9]
Copied list: [1, 3, 5, 7, 9]

Question 5

 Program to print a specified list after removing the 0th, 4th and 5th elements.

In [5]:
 mylist = ["Red","Green","White","Black","Pink","Yellow"]
mylist.pop(0)
mylist.remove("Pink")
mylist.remove("Yellow")
print("New list:",mylist)

New list: ['Green', 'White', 'Black']

Question 6

 Program to print the numbers of a specified list after removing even numbers from it.

In [7]:
 mylist = [1,22,63,35,55,98]
for item in mylist:
    if item%2==0:
        mylist.remove(item)
print(mylist)

[1, 63, 35, 55]

Question 7

 Program to shuffle and print a list

In [8]:
 from random import shuffle
 
mylist = [10,20,30,40,50,60]
shuffle(mylist)
print("New list:",mylist)

New list: [40, 20, 30, 60, 10, 50]

Question 8

 Program to find the difference between two lists.

In [9]:
 list1 = [1,2,3,4,5,6]
list2 = [4,2,6]
list3 = []
for item in list1:
    if item not in list2:
        list3.append(item)
print(list3,"is the difference between given two lists.")

[1, 3, 5] is the difference between given two lists.