<a href="https://colab.research.google.com/github/Nikhithachinnu/assignment-1/blob/master/assignment12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 12

 Program to create a tuple.

In [11]:
 t1 = (1,2,3,4,5)
print(t1, type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

 Program to create a tuple with different data types.

In [13]:
 t1 = (1,2.5,"car",["Hey",1,6])
print(t1, type(t1))

(1, 2.5, 'car', ['Hey', 1, 6]) <class 'tuple'>

 Program to convert a tuple into a string.

In [14]:
 t1 = ("N","i","m","b","u","s")
str = "".join(t1)
print("Tuple converted string:",str)

Tuple converted string: Nimbus

 Program to slice a tuple

In [15]:
 t1 = (1,2,3,4,5,6,7,8,9,10)
slice_tup = (t1[2:6])
print("Sliced tuple:",slice_tup)

Sliced tuple: (3, 4, 5, 6)

 Program to find the length of a tuple

In [16]:
 t1 = (1,2,3,4,5,6,7,8,9,10)
count = 0
for item in t1:
  count+=1
print("Length of the tuple:",count)

Length of the tuple: 10

 Program to convert a tuple into a dictionary.

In [17]:
 t1 = (("one",1),("two",2),("three",3),("four",4),("five",5))
converted_dict = dict(t1)
print("Converted Dictionary:",converted_dict)

Converted Dictionary: {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

 Program to reverse a tuple.

In [18]:
 t1 = (1,2,3,4,5,6,7,8,9,10)
print("Reversed Tuple:",t1[::-1])

Reversed Tuple: (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

 Program to convert a list of tuples into a dictionary.

In [19]:
 mylist = [("one",1),("two",2),("three",3),("four",4)]
dict_converted = dict(mylist)
print("Dictionary converted list:",dict_converted)

Dictionary converted list: {'one': 1, 'two': 2, 'three': 3, 'four': 4}

 Program to convert a list of tuples into a tuple.

In [20]:
 mylist = ["Hello","Hey","Hi","Hola","Bonjour"]
print("Tuple converted list:",tuple(mylist))

Tuple converted list: ('Hello', 'Hey', 'Hi', 'Hola', 'Bonjour')